<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizo</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'quiz_list' %}" style="text-decoration: none;">Quizo</a></h1>
        <div class="account">
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}" id="logout-form" style="display: none;">{% csrf_token %}</form>
                <a href="#" class="btn btn-primary" onclick="document.getElementById('logout-form').submit();">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </header>
    <nav>
        {% block nav %}
        
        {% endblock %}
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>